#line{
    width: 95%;
}

#nav{
    display: flex;
    padding-left: 23%;
    
   
}

#item{
    text-align: center;
    list-style: none;
    padding-left: 3%;
    font-weight: bold;
}

a#link{
    color: black;
    text-decoration: none;
}
a#link:hover{
    color: brown;
}

.animate-pop-in{
    
    animation: pop-in .6s cubic-bezier(0, .9, .3, 1.2);
    
}

.one{
    animation-delay: .1s;
}

.two{
    animation-delay: .2s;
}

.three{
    animation-delay: .3s;
}

.four{
    animation-delay: .4s;
}

.five{
    animation-delay: .5s;
}

.six{
    animation-delay: .6s;
}
.seven{
    animation-delay: .7s;
}

#headerName{
    font-weight: bold;
    padding-top: 0%;
    margin-top: 0%;
    font-size: 230%;
    text-align: center;
    text-transform: uppercase;
}
.details{
    display: flex;
    gap: 2%;
}
#personal-details{
    width: 30em;
    padding-left: 25%;
}

img#me{
    width: 60%;
    height: 60%;
    border-radius: 3%;
}
.about{
    align-items: center;
    text-align: center;
}

#about{
    text-align: center;
    font-size: 230%;
}

img#comp{
    width: 70%;
    height: 70%;
}

.school{
    text-align: center;
}
#schoolName{
    text-transform: uppercase;
    font-size: 230%;
}

.mentors{
    text-align: center;
    
}

#mentors{
    display: flex;
}

#pic{
   width: 80%;
   height: 80%;
}

#mentorsName{
    font-size: 230%;
}

#list{
    text-decoration: none;
}
#hobbies{
    padding-left: 3%;
}

#hobbiesName{
    text-align: center;
    font-size: 230%;
}

#random{
    text-align: center;

}
#goalHeader{
    text-align: center;
    font-size: 230%;
}
#quote{
    text-align: center;

}

#footer{
    text-align: center;
}

@keyframes pop-in {
    0%{
        opacity: 0;
        transform: translateY(-5rem) scale(.8);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}