#line{
    width: 95%;
}

#headerName{
    font-weight: bold;
    padding-top: 0%;
    margin-top: 0%;
    font-size: 230%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.details{
    display: flex;
    gap: 2%;
}
#personal-details{
    width: 30em;
    padding-left: 25%;
}

img#me{
    width: 60%;
    height: 60%;
    border-radius: 3%;
}
.about{
    align-items: center;
    text-align: center;
}

#about{
    text-align: center;
    font-size: 230%;
    text-decoration: underline;
}

img#comp{
    width: 70%;
    height: 70%;
}

.school{
    text-align: center;
}
#schoolName{
    text-transform: uppercase;
    font-size: 230%;
    text-decoration: underline;
}

.mentors{
    text-align: center;
    
}

#mentors{
    display: flex;
}

#pic{
   width: 80%;
   height: 80%;
}

#mentorsName{
    font-size: 230%;
    text-decoration: underline;
}

#list{
    text-decoration: none;
}
#hobbies{
    padding-left: 3%;
}

#hobbiesName{
    text-align: center;
    font-size: 230%;
    text-decoration: underline;
}

#random{
    text-align: center;
    display: flex;
    gap: 15%;
    padding-left: 7%;
}


#randomHeader{
    text-align: center;
    text-decoration: underline;
}
#quote{
    text-align: center;

}

#footer{
    text-align: center;
}

@media (max-width: 768px) {
    .details{
        display: block;
    }
    
}